
body {
padding: 0;
  margin:0;
}

.modal-bg {
  display: flex; /* フレックスボックスを使用 */
  justify-content: center; /* 子要素を水平方向の中央に配置 */
  align-items: center; /* 子要素を垂直方向の中央に配置 */
  height: 300px; /* コンテナの高さを指定 */
  border: 1px solid black; /* コンテナの境界線を表示 */
}

.modal-main {
  width: 100px; /* 子要素の幅を指定 */
  height: 100px; /* 子要素の高さを指定 */
  background-color: red; /* 子要素の背景色を指定 */
}

#modal-bg.active {
  display:block;
  width: 100%;
  height: 100vh;
} 