body {
  margin: 0 10px;
  padding: 0;
}

/* svg要素 */
foreignObject.contentBox {
  position: absolute;
  background-color: white;
  stroke: black;
}

foreignObject.contentBox:first-child {
  position: relative;
  left: auto;
  right: auto;
}

path {
  stroke: black;
  strokeWeight: 1;
  marker-end: "url(#end-marker)";
}
.hundle {
  fill:red;
  stroke:black;
}


.connect {
  fill: "blue";
}
/* 
フォームで
textarea {
  background-color: black;
  color: white;
  width: 200px;
  height: 100px;
  line-height: 70px;
  font-size: 16px;
  max-width: 100%;
  max-height: 100%;
  padding: 0;
} */

.helo {
  display: flex;
}

aside {
  position: fixed;
  left: 0;
  height: 100%;
  background-color: rgb(56, 190, 211);
}

/* .box {
  background-color: black;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  color: white;
  margin-top: 15px;
}
 */

.box img {
  width: 50px;
}

.contextMenu {
  display: flex;
  background-color: aliceblue;
}

/* モーダルウィンドウのスタイル（chatGPT利用） */
#modal-bg {
  position: fixed; /* 要素の位置を固定 */
  top: 0; /* 画面の上端に合わせる */
  left: 0; /* 画面の左端に合わせる */
  width: 100%; /* 画面の幅いっぱいに広げる */
  height: 100vh; /* 画面の高さいっぱいに広げる */
  background-color: rgba(0, 0, 0, 0.5); /* 背景色を半透明の黒にする */
  display: none; /* フレックスボックスを使用 */
  justify-content: center; /* 子要素を水平方向の中央に配置 */
  align-items: center; /* 子要素を垂直方向の中央に配置 */
}

#modal-main {
  width: 50%; /* モーダルウィンドウの幅を指定 */
  height: 200px; /* モーダルウィンドウの高さを指定 */
  background-color: white; /* モーダルウィンドウの背景色を指定 */
  border-radius: 10px; /* モーダルウィンドウの角を丸くする */
  padding: 20px; /* モーダルウィンドウの内側に余白をつける */
}
